
[Unit]
Description=Starts and stops rippled monitoring agent
Documentation=https://www.xrpl-labs.com
After=network.target

[Service]
EnvironmentFile=-/etc/default/rippledagent
User=rippledagent
ExecStart=/usr/bin/rippledagent
PIDFile=/var/run/rippledagent/rippledagent.pid
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=rippledagent.service
